:root {
    --bg-color: #ffffff; /*#FCFCFC*/
    --text-primary: #212529; /* #000000*/
    --font-body: 'Libre Baskerville';
    --font-nav: 'JetBrains Mono';
    --approved-color: #2A81CB;
    --under-review-color: #CAC428;
    --completed-color: #2AAD27;
    --construction-color: #CB8427;
    --withdrawn-color: #7B7B7B;
    --link-bg: #454138;
    --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --header-font: 'Lato';
    --step--2: clamp(0.6944rem, 0.6438rem + 0.2531vw, 0.84rem);
    --step--1: clamp(0.8333rem, 0.758rem + 0.3768vw, 1.05rem);
    --step-0: clamp(1rem, 0.8913rem + 0.5435vw, 1.3125rem);
    --step-1: clamp(1.2rem, 1.0467rem + 0.7663vw, 1.6406rem);
    --step-2: clamp(1.44rem, 1.2276rem + 1.0622vw, 2.0508rem);
    --step-3: clamp(1.728rem, 1.4374rem + 1.453vw, 2.5635rem);
    --step-4: clamp(2.0736rem, 1.6803rem + 1.9665vw, 3.2043rem);
    --step-5: clamp(2.4883rem, 1.9606rem + 2.6385vw, 4.0054rem);
}
html {
    font-family: sans-serif;
    font-size: 125%;
    -webkit-font-smoothing: antialiased;
}
body {
    font-weight: 400;
    line-height: calc(1.5em + .2vw);
    background-color: var(--bg-color);
    color: var(--text-primary);
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 2.5rem;
}
p {
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0;

}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
    font-size: 2.50rem;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.25rem;
}
table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse;
  }
  table td,
  table th {
    padding: 0;
    line-height: 33px;
  }
.functional {
    font-size: 0.75rem;
}

.wrap .grid, .grid.wrap {
    max-width: 978px;
    margin: 0 auto;
}
.grid {
    margin-bottom: 1em;
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(50ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);
    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [feature-start] var(--feature)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end]
      var(--feature) [feature-end]
      var(--full) [full-end];
}
.grid > * {
    grid-column: content;
}
  
.popout {
    grid-column: popout;
}
  
.feature {
    grid-column: feature;
}
  
.full {
    grid-column: full;
}
body > .container {
    margin-top: 20px;
}

header {
    font-family: var(--header-font);
    background: #0b456a;
    color: #fff;
    padding: 1em;
    height: 110px;
    border-bottom: 5px solid #0f5988;

    font-weight: 600;
}
.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    order: 1;
    height: 100%;
    margin: auto;
    align-items: baseline;
}
.site-logo {
    display: flex;
    align-self: center;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.site-logo::after {
    content: '\f64f';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left:5px;
}
.git-hub-btn {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-grow: 2;
}
nav ul {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
}
nav li a:hover {
    background-color: #072e46;
    color: #a1dbff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.5),0 1px 0 rgba(255,255,255,.1);
    text-shadow: 0 1px 3px rgba(0,0,0,.5)
}
nav li {
    display: inline-block;
}
.main-nav li a {
    border-radius: 5px;
    padding: .5em 1em;
    text-shadow: none;
    text-transform: uppercase;
    color: #fff;
}
.main-nav li.active a{
    background-color: #fff;
    color: #0b456a;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 5px rgba(0, 0, 0, .5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
}
@media (min-width: 800px) {
    .flexbox {
        flex-direction: row;
        max-width: 100%;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header a {
    text-decoration: none;
}
a {
    text-decoration: underline;
    color: #808080;
}
a:hover {
    color: #4385BE;
}
a[href^="http"] {
    background-image: url('/assets/images/up-right-from-square-solid.svg');
    background-position: right 33%;
    background-size: 1em;
    background-repeat: no-repeat;
    padding-right: 1em; /* Adjust padding for the icon space */
}
img {
    width: 100%;
}



@media (min-width: 768px) {
    .flexbox {
        flex-direction: row;
        max-width: 100%;
    };
    header {
        height: 75px;

    };
    .site-logo {
        margin: auto;
    }
  }


article {
    margin-bottom: 1em;
}
footer {

}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    background: #0b456a;
    color: #fff;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    border-top: 5px solid #0f5988;
}
.inner-footer {
    align-items: center;
}
.panel {
    background-color: #fff;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #fff;
    margin: 0 10px;
    margin-bottom: 1rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    padding: 40px 40px 30px;
}
.full-image {
    padding: 0px;
    min-height: 0px;
}

.four-fifths {
    width: 80%;
}
.one-fifth {
    width: 20%;
}
.map-col {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-right: 0px;
}
.main-col {
    width: 100%
}
.one {
    width: 65ch;
}
.tag-a {
    display: span;
    text-decoration: none;
    font-family: var(--font-nav);
    font-style: normal;
    line-height: 1.2rem;
    padding-right: .2rem;
    padding-left: .3rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border: .1rem solid #000;
    box-shadow: 2px 2px #bbb;
    background-color: #dcd8c0;
}
.tag {
    display: span;
    text-decoration: none;
    font-family: var(--font-nav);

    padding-right: .3rem;
    padding-left: .3rem;
    text-transform: uppercase;
    border: .1rem solid #000;
    color: black;
}

.col-md-3, .col-md-9, .col-md-65, .col-md-35{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 1em;
}

.container2{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 65%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 1em;
}
.col-md-100 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-65, .col-md-3{
    min-height: 100vh;
    /*border: solid 1px #ccc;
    border-radius: 0px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;*/
}
@media (min-width: 992px) {
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-65 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
        flex: 0 0 65%;
        max-width: 65%;
    }
    .col-md-35 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        max-width: 35%;
    }
}

body > .container {
    margin-top: 40px;
    min-height: 400px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container ul {
    padding-left: 2em;
    margin-bottom: 10.5px;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    };
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    };
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 992px) {
    .row {
        flex-direction: row;
    }
}

.col {
    flex-direction: column;
}

.justify-content-start {
    justify-content: start;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.justify-content-evenly {
    justify-content: space-evenly;
}

/* Map that displays on individual development pages */
#map {
    height: 100%;
}
/* Map that displays on the main dedicated map page */
#mainMap {
    height: calc(100vh - 75px);
}
/* Map that displays within the home page hero */
#homeMap {
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.map-container {
    height: 360px;
}

.legend {
    line-height: 18px;
    color: #555;

}

.legend i {
    width: var(--step-0);
    height: var(--step-0);
    float: left;
    margin-right: 1em;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    font: var(--step-0) Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777; 
}

br {clear: both;} 

.map-title {

}

.leaflet-control.map-title {
    padding: 6px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--step-1);
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.edit-metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #7B7B7B;
    font-size: var(--step--1);
    margin-top: auto;
    margin-bottom: 1em;
    border-top: 1px solid #7B7B7B;
}
.edit-metadata #date {

}
.edit-metadata #name {
    
}
.edit-metadata #contribute {
    
}
.edit-metadata #contribute:before {
    content: '\f303';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin-left:5px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote > p {
    margin: 0;
}
p.first {
    font-size: var(--step-3);
    font-weight: 600;
    margin: 0em;
}
p.second {
    font-size: var(--step-0);
    margin-bottom: 1em;
}
.flex-row {
    display: flex;
    flex-direction: column;
}
.flex-col {
    display: block;
    width: 100%;
}
#home-col-1 {
    padding-right: 1em;
}
.child-box {
    padding: 10px 0px;
    width: 100%;
}
.child-box > p {
    font-size: var(--step-0);
}
@media (min-width: 768px) {
    .flex-row {
        flex-direction: row;
    };
    .flex-col {
        width: 50%;
    };
    .child-box {
        width: 100%;
    };
}
.special-highlight {
    color: #0f5988;
}
.bg-under-review {
    background-color: var(--under-review-color);
}
.bg-approved {
    background-color: var(--approved-color);
}
.bg-complete {
    background-color: var(--completed-color);
}
.bg-withdrawn {
    background-color: var(--withdrawn-color);
}