---
layout: default
---
<div class="container">
    <div class="row justify-content-center">
        <div class="container2">
            <hgroup class="development-header">
                <h1 style="margin: 0;">{{page.title}}</h1>
                <em>{{page.address}}</em>
                <div >
                    <span {% case page.phase %}
                    {% when 'Under Review' %} class="tag bg-under-review"
                    {% when 'Approved' %}class="tag bg-approved"
                    {% when 'Withdrawn' %}class="tag bg-withdrawn"
                    {% when 'Complete' %}class="tag bg-complete"{% endcase %}>{{page.phase}}</span>
                    <span class="tag" >{{page.units}} Units</span>
                    <span class="tag">{{page.developer}}</span>
                </div>
            </hgroup>
        </div>
        <div class="col-md-65">
            <article>
                <div class="map-container" style="box-shadow: 0 3px 10px rgba(0, 0, 0, .1);">
                    <div id="map"></div>
                </div>
                {{ content }}
                <h2>Permits</h2>
                {% for permit in page.permits %}
                    <p><strong><a href="https://sjpermits.org/permits/general/emailpermitquery.asp?permitnum={{permit[0]}}">{{permit[0]}}</a></strong> {{permit[1].status}}</p>
                    <p>{{permit[1].description}}</p>
                {% endfor %}
            </article>
            <div class="edit-metadata">
                <span id="date">Last edited: {% last_modified_at %}</span>
                <span id="contribute"><a href="https://github.com/awildjake/sjbuild/blob/main/_developments/{{page.name}}">Edit</a></span>
            </div>
        </div>

    </div>
</div>
{% include map.html geometry=page.geometry zoom=15 name="map" %}