---
layout: default
---
<div class="container">
    <div class="row justify-content-center">
        <div class="container2">
            <hgroup class="development-header">
                <h1 style="margin: 0;">{{page.title}}</h1>
                <em>{{page.address}}</em>
                <div>
                    {% assign phase_class = page.phase | downcase | replace: ' ', '-' %}
                    <span class="tag bg-{{ phase_class }}">{{ page.phase }}</span>
                    <span class="tag">{{ page.units }} Units</span>
                    <span class="tag">{{ page.developer }}</span>
                </div>
            </hgroup>
        </div>
        <div class="col-md-65">
            <article>
                <div class="map-container" style="box-shadow: 0 3px 10px rgba(0, 0, 0, .1);">
                    <div id="map"></div>
                </div>

                {{ content }}

                {% if page.articles %}
                <h2>In the News</h2>
                {% assign articles_by_date = page.articles | sort: "date" | reverse %}
                {% for article in articles_by_date %}
                <p>
                    <a href="{{ article.url }}">"{{ article.title }}."</a>
                    {% if article.source %}<em>{{ article.source }}</em>,{% endif %}
                    {% if article.date %}<span class="article-date">{{ article.date | date: "%B %-d, %Y" }}</span>.{% endif %}
                </p>
                {% endfor %}
                {% endif %}

                <h2>Permits</h2>
                {% for permit in page.permits %}
                <div class="permit">
                    <p>
                        <strong>
                            <a href="https://sjpermits.org/permits/general/emailpermitquery.asp?permitnum={{ permit.id }}">
                                {{ permit.id }}
                            </a>
                        </strong>
                    </p>
                    <p>{{ permit.description }} {% if permit.initial_date %}{{ permit.initial_date | date: "%B %-d, %Y"}}{% endif %}.</p>
                </div>
                {% endfor %}
            </article>
        </div>
    </div>
</div>

{% include map.html geometry=page.geometry zoom=15 name="map" %}